@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'obviously';
  src: url("/fonts/Obviously/Obviously-light.otf") format("opentype");
  font-weight: 300;
  /* font-style: normal; */
}

@font-face {
  font-family: 'obviously';
  src: url("/fonts/Obviously/Obviously-Regular.otf") format("opentype");
  font-weight: 400;
  /* font-style: normal; */
}





:root {
  --background: #B564F7;
  --foreground: #171717;
}







body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: 'obviously' sans-serif;
}

h1, h2  {
  font-family: 'obviously';
  font-weight: 400;
}

li,
p,
a,
label{
  font-family: 'obviously';
  font-weight: 400;
}

span{
    font-family: 'obviously';
  font-weight: 300;
}